body{
background-size: cover;
}

.heading{
font-size: 25px;
width: 100%;
margin: 0px;
}

#Start{
font-size: 20px;
}

#Number_Of_objects{
font-size: 20px;
}

#Status{
font-size: 20px;
}

.copyright_footer{
position: fixed;
bottom: 0;
width: 100%;
background-color: mediumspringgreen;
text-align: center;
line-height: 3;
color: orangered;
font-size: 20px;
}

canvas{
border: 2px solid white;
border-radius: 15px;
margin-top: 130px;
box-shadow: 5px 5px 5px white;
}